* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

 body {
  font-family: 'Red Hat Display' sans-serif;
  height: 100vh;
 }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}


.hero {
 width: 100%;
 border-radius: 1.5rem 1.5rem 0 0;
}

.container {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: hsl(225, 100%, 94%);
}

.order {
 background-color: #fff;
 border-radius: 1.5rem;
 display: grid;
 place-items: center;
 text-align: center;

}

.annual {
 background-color: #F7F9FF;
 border-radius: .936rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 gap: 4vw;
 width: 90%;

 &__plan h2 {
  font-weight: bolder;
  font-size: 1.2rem;
 }

 &__plan p {
  font-size: 1rem;
  color: #717Fa6;
 }
}


.icon__music {
 width: 3vw;
}

.change {
 font-size: 1.2rem;
}

.change:hover {
 text-decoration: none;
 color: hsl(223, 47%, 23%);
}

.payment {
 height: 7vh;
 display: grid;
 place-items: center;
 margin: 1rem 0 0 0;
}

.cancel__order {
 height: 7vh;
 display: grid;
 place-items: center;
 text-decoration: none;
 color: #717Fa6;
 font-weight: bolder;
}

.cancel__order:hover {
 color: black;
}

button {
 background-color: hsl(245, 75%, 52%);
 color: #fff;
 width: 90%;
 border-radius: 1rem;
 margin: 0;
 font-size: 1.2rem;
 border: none;
 display: grid;
 place-self: center;
}

button:hover {
 cursor: pointer;
 background-color: hsl(223, 47%, 23%);
}

footer {
 height: 8vh;
 display: grid;
 place-content: center;
 font-size: .8rem;
}

@media only screen and (min-width: 500px) {

 .order {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 1vh;
 }
}